* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1.5fr 5fr / 1.5fr 5fr;
}

header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 1.25fr / 2fr 1fr;
    padding: 2%;
}

.search-bar {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 35px 1.5fr .5fr;
    justify-content: center;
}

input {
    height: 25px;
    border-radius: 12px;
    background: #ededed;
    border: none;
    padding-left: 10px;
}
.icon {
    height: 25px;
    width: 25px;
}

.sidebar {
    background-color: blue;
    grid-area: 1 / 1 / 3 / 2;
}

main {
    background-color: red;
    grid-area: 2 / 2 / 3 / 3;
}